.code-section {
    background-color: #f4f4f4;
    padding: 80px 0;
    position: relative;
    overflow: hidden;
}

.code-layout {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: max-content;
    grid-template-areas: "list heading" "list img";
    grid-gap: 0 25px;
}

.code-layout-grig-heading {
    grid-area: heading;
}

.code__list {
    grid-area: list;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.code__item {
    display: flex;
    justify-content: space-around;
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.code__content {
    flex: 4;
}

.code__title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    padding-bottom: 15px;
}

.content__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
}

.code__img-wrapper {
    flex: 1;
    padding-right: 60px;
    min-width: 90px;
}

.code__img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.code__main__img-wrapper {
    grid-area: img;
    position: relative;
    top: 10px;
}

.code__main__img {
    object-fit: cover;
    position: absolute;
}