.hero__bg{
 background-image: url("/build/img/backgrounds/header.png");
  background-position: center center;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero{
  background-color: #000;
}