.revol-section {
    padding: 70px 0;
}

.revol__heading {
    font-size: 21px;
    line-height: 32px;
    padding: 15px 5px;
    color: #323232;
    text-align: center;
    font-weight: 400;
    font-family: Lato, sans-serif;
}

.github__menu {
    display: flex;
    justify-content: center;
}

.github__elem {
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 15px 15px 0;
}

.github__svg {
    padding: 0 5px;
}

.github__value {
    font-weight: 700;
    font-size: 12px;
    padding: 0 9px;
}