@media (max-width: $mobile-width) {
    .heading--medium {
        font-size: 26px;
    }
    .heading--code {
        font-size: 34px;
    }
    .heading--default {
        font-size: 34px;
    }
    .heading--sub {
        font-size: 14px;
    }
}