@media (max-width: $tablet-width) {
    .heading--big {
        font-size: 72px;
        line-height: 72px;
    }
}

@media (max-width: $mobile-width) {
    .heading--big {
        font-size: 48px;
        line-height: 48px;
    }
    .heading--medium {
        font-size: 26px;
    }
    .heading--code {
        font-size: 34px;
    }
    .heading--default {
        font-size: 34px;
    }
    .heading--sub {
        font-size: 14px;
    }
}