@media (max-width: $tablet-width) {

  .heading--big {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
  }
}


@media (max-width: $mobile-width) {
  .heading--big {
    font-family: Montserrat;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }
  .heading--default{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;

  }
  .hero{
    &__title{
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
    }
    &__sub-title{
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-align: center;

    }
  }
}